<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>RUIMFP?</title>

        {# bootstrap3 stuffs #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
    {% block topnav %}
        {# TODO - add topnav bar to the core templates #}
    {% endblock %}

    {% block content %}
        Some data that the user should never ever see
    {% endblock %}
    </body>
</html>